*.class
*.classpath
*.project
*.DS_Store
*.releaseBackup

# Package Files #
*.jar
*.war
*.ear

bin/**/*
target/**/*
build/**/*
*/work/*

canadensys-harvester-lib/target
canadensys-harvester-ui/target

.settings/
target/
